.customStyles .ui-selectonemenu {
    width: 157px !important;
}

.customStyles .ui-selectonemenu .ui-selectonemenu-label {
    width: 130px !important;
}

.customStyles .ui-tree {
    border: none;
    background: none;
}