#statefulSwitcher2 {
	padding: 0 !important;
	vertical-align: middle !important;
	width: 170px !important;
	line-height: 20px !important;
	height: 20px !important;
	display: block !important    
}

#statefulSwitcher2 .ui-selectonemenu-label {
    padding: 0 0 0 5px !important;
    font-weight: normal !important;
	line-height: 20px !important;
	height: 20px !important;
}

#statefulSwitcher2 .ui-selectonemenu-trigger {
    padding: 0 1px !important;
	line-height: 20px !important;
	height: 20px !important;
}

#statefulSwitcher2 .ui-selectonemenu-trigger .ui-icon {
    margin-top: 2px !important;
}

#statefulSwitcher2_panel .ui-selectonemenu-table {
	border-collapse: separate !important;
    border-spacing: 0;
    margin: 3px 0;
}

#statefulSwitcher2_panel .ui-selectonemenu-items {
	white-space: nowrap !important;
}

#statefulSwitcher2_panel .ui-selectonemenu-table td {
    padding: 2px 4px 2px 6px;
    cursor: pointer;
    border: none !important;
}

#statefulSwitcher2_panel .ui-selectonemenu-table td a {
    padding: 3px 4px !important;
    display: block;
}

#statefulSwitcher2_panel .ui-selectonemenu-item img {
    vertical-align: middle;
    border: 1px solid gray;
}
