.ui-layout-pane {
    padding: 0;
    overflow: hidden;
}

.ui-layout-north,
.ui-layout-south,
.ui-layout-west,
.ui-layout-east,
.ui-layout-center {
    display: none;
}

.ui-layout-resizer-west-dragging,
.ui-layout-resizer-west-open-hover {
    background: url("#{resource['images:chapter11/resizable-w.gif']}") repeat-y center;
}

.ui-layout-resizer-west-closed-hover {
    background: url("#{resource['images:chapter11/resizable-e.gif']}") repeat-y center;
}

.ui-layout-toggler-west-open {
    background: url("#{resource['images:chapter11/toggle-lt.gif']}") no-repeat scroll left center transparent;
}

.ui-layout-toggler-west-closed {
    background: url("#{resource['images:chapter11/toggle-rt.gif']}") no-repeat scroll right center transparent;
}

.ui-layout-resizer-east-dragging,
.ui-layout-resizer-east-open-hover {
    background: url("#{resource['images:chapter11/resizable-e.gif']}") repeat-y center;
}

.ui-layout-resizer-east-closed-hover {
    background: url("#{resource['images:chapter11/resizable-w.gif']}") repeat-y center;
}

.ui-layout-toggler-east-open {
    background: url("#{resource['images:chapter11/toggle-rt.gif']}") no-repeat scroll right center transparent;
}

.ui-layout-toggler-east-closed {
    background: url("#{resource['images:chapter11/toggle-lt.gif']}") no-repeat scroll left center transparent;
}

.ui-layout-resizer-north-dragging,
.ui-layout-resizer-north-open-hover {
    background: url("#{resource['images:chapter11/resizable-n.gif']}") repeat-x center;
}

.ui-layout-resizer-north-closed-hover {
    background: url("#{resource['images:chapter11/resizable-s.gif']}") repeat-x center;
}

.ui-layout-toggler-north-open {
    background: url("#{resource['images:chapter11/toggle-up.gif']}") no-repeat scroll top center transparent;
}

.ui-layout-toggler-north-closed {
    background: url("#{resource['images:chapter11/toggle-dn.gif']}") no-repeat scroll bottom center transparent;
}

.ui-layout-resizer-south-dragging,
.ui-layout-resizer-south-hover {
    background: url("#{resource['images:chapter11/resizable-s.gif']}") repeat-x center;
}

.ui-layout-resizer-south-closed-hover {
    background: url("#{resource['images:chapter11/resizable-n.gif']}") repeat-x center;
}

.ui-layout-toggler-south-open {
    background: url("#{resource['images:chapter11/toggle-dn.gif']}") no-repeat scroll bottom center transparent;
}

.ui-layout-toggler-south-closed {
    background: url("#{resource['images:chapter11/toggle-up.gif']}") no-repeat scroll top center transparent;
}

.ui-layout-resizer-dragging-limit {
    border: 1px solid #E27D7D;
}

.ui-layout-pane-withsubpanes {
    border: none;
}

.ui-layout-pane-header {
    padding: 4px 1em;
    border-width: 0 0 1px;
}

.ui-layout-pane-content {
    padding: 6px;
    overflow: auto;
}
